@charset "UTF-8";
/* style.css */
/* Programmé par : Maxime Lacroix-Lemire */
/* Dernière Mise À  Jour :  2021/06/14 */
.bg__rouge {
  background-color: red;
  padding: 15%;
  background-repeat: no-repeat;
}

.bg__bleu {
  background-color: blue;
  padding: 15%;
  background-repeat: no-repeat;
}

.bg__vert {
  background-color: green;
  padding: 15%;
  background-repeat: no-repeat;
}

.bg__jaune {
  background-color: yellow;
  padding: 15%;
  background-repeat: no-repeat;
}

.bg__rose {
  background-color: pink;
  padding: 15%;
  background-repeat: no-repeat;
}
