/* font.css */
/* Programmé par : Maxime Lacroix-Lemire */
/* Dernière Mise À  Jour :  2021/07/06 */

@font-face {
    font-family: montserratSemiBold;
    src: url(../../police/Montserrat-Bold.ttf);
}

.montserratBold{
    font-family: montserratSemiBold;
}

.transparent {
    color: white;
}