@charset "UTF-8";
.bg__rouge {
  background-color: red;
  background-repeat: no-repeat;
  height: 10em;
}

.bg__bleu {
  background-color: blue;
  background-repeat: no-repeat;
  height: 10em;
}

.bg__vert {
  background-color: green;
  background-repeat: no-repeat;
  height: 10em;
}

.bg__rose {
  background-color: pink;
  background-repeat: no-repeat;
  height: 10em;
}

.bg__noir {
  background-color: black;
  background-repeat: no-repeat;
  height: 10em;
}

/* banniere.css */
/* Programmé par : Maxime Lacroix-Lemire */
/* Dernière Mise À  Jour :  2021/07/06 */
.theme__eau {
  background-image: url(../../image/banniere.jpg);
  height: 29em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
}

.logo__logo1 {
  background-image: url(../../image/logo.jpg);
}