/* Margin */
.margin__1 {
  margin: 0.25rem;
}

.margin__2 {
  margin: 0.5rem;
}

.margin__3 {
  margin: 0.75rem;
}

.margin__4 {
  margin: 1rem;
}

.margin__5 {
  margin: 1.25rem;
}

.margin__6 {
  margin: 1.5rem;
}

.margin__7 {
  margin: 1.75rem;
}

.margin__8 {
  margin: 2rem;
}

.margin__9 {
  margin: 2.25rem;
}

.margin__10 {
  margin: 2.5rem;
}

.margin__11 {
  margin: 2.75rem;
}

.margin__12 {
  margin: 3rem;
}

.margin__13 {
  margin: 3.25rem;
}

.margin__14 {
  margin: 3.5rem;
}

.margin__15 {
  margin: 3.75rem;
}