/* Padding */
.pad__1 {
  padding: 10px;
}

.pad__2 {
  padding: 20px;
}

.pad__3 {
  padding: 30px;
}

.pad__4 {
  padding: 40px;
}

.pad__5 {
  padding: 50px;
}

.pad__6 {
  padding: 60px;
}

.pad__7 {
  padding: 70px;
}

.pad__8 {
  padding: 80px;
}

.pad__9 {
  padding: 90px;
}

.pad__10 {
  padding: 100px;
}

.pad__11 {
  padding: 110px;
}

.pad__12 {
  padding: 120px;
}

.pad__13 {
  padding: 130px;
}

.pad__14 {
  padding: 140px;
}

.pad__15 {
  padding: 150px;
}